<div id='game'>
<% if @error %>
<strong>Play again?</strong>
<a href="/bet"class= "btn btn-primiary">Yes</a>
<a href="/game_over" class="btn btn-danger">No</a>
<% end %>


<h1>Blackjack!</h1>

<p>Welcome <%= session[:player_name] %>.</p>
<p>You have money:<%=session[:player_money]%>.</p>
<p>You have bet:<%=session[:money_bet].to_i%></p>
<div class='well' id='dealer_area'>
  <h4>Dealer's cards:</h4>
        <% session[:dealer_cards].each do |card| puts card%>
          <% if @show_hit_or_stay_bottons && session[:dealer_cards].index(card) == 0%>
          <img src="/images/cards/cover.jpg"/>
          <%else%>
          <%= card_image(card)%>  
          <% end %> 
      <% end %>



  <% if @dealer_turn%>
  </form>
  
    <form id ='dealer_hit_form' action='/game/dealer/hit' method="post">
    <input type='submit' class = 'btn btn-danger' value="See what dealer got." />
  
  </form>
  <% end %>
</div>



<div class='well'>
<h4>Player's cards:</h4>
  <% session[:player_cards].each do |card| puts card%>
     <%= card_image(card)%>         
  <% end %>


</div>

<p>
What would you like to do?
<%= session[:player_name] %> has <%= calculate_total(session[:player_cards]) %>
<% if @show_hit_or_stay_bottons%>
<form id ='hit_form'action="/game/player/hit" method='post'>
  <input type='submit' class = 'btn btn-success' value="Hit" />

</form>

<form id ='stay_form' action='/game/player/stay' method="post">
  <input type='submit' class = 'btn btn-warning' value="Stay" />

</form>
<% end %>
</p> 

</div>



